<h1 style="color:green">To Do List App</h1>

<h3>Lists</h3>
<%= link_to 'Add New List', new_list_path %><br><br>

<table>
  <tr>
    <th style="color:gray">List</th>
    <th>Display List</th>
  </tr>

  <% @lists.each do |list| %>
    <tr>
      <td><%= list.title %></td>
      <td><%= link_to 'show', list_path(list) %></td>
    </tr>
  <% end %>
</table>
